body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #49015f 0%, #49015f 33%, #075576 100%);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, p {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
